body{
    margin: 0;
}

h1{
    font-size: 72px;
    color: #FFF;
    background-color: #281B2D;
    text-align: center;
    margin-top: 0;
    padding: 25px 0;
}

.subhead{
    font-size: 48px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom:solid 5px #00C54C;
    padding: 15px;
}

.white-text{
    color:#fff;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}