body{
    margin: 0;
}

h1{
    font-size: 72px;
    color: #FFF;
    background-color: #281B2D;
    text-align: center;
    margin-top: 0;
    padding: 25px 0;
}

.subhead{
    font-size: 48px;
    color: #FCD801;
    background-color: #281B2D;
    border-bottom:solid 5px #00C54C;
    padding: 15px;
    margin-top: 0 ;
}

.white-text{
    color:#fff;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.columns{
    display: flex;
}

.main-content{
    width: 65%;
    margin-right: 5%;
}

.sidebar{
    width: 30%;
    background-color: #9ae84f;
    padding: 15px;
}

.col-right{
    margin-left: 25px;
}

a{
    color:#9138b7;
}

a:hover{
    color:#fff;
}

.source{
    font-size: 12px;
    margin-left: 18px;
}